body {
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  background-color: #e0e0e0;
  color: #283739;
}

.app {
  /* width: 80vw; */
  /* margin-bottom: 15vh; */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 29vh;
  /* margin-top: 2vw; */
  text-align: center;
  background-color: #e0e0e0;
  /* padding: auto; */
  /* padding: 50px 0; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-be; */
  /* align-content: center; */
  /* justify-content: center; */
  padding-top: 1vh;
}

.header-content {
  /* width: fit-content;
  height: fit-content;
  margin: auto; */
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
  margin: 2vw auto;
}

.btn-container button {
  width: 8vw;
  padding: 1em;
  border: none;
  border-radius: 5px;
  /* font-weight: bold; */
  font-size: 1em;
  color: #f0f0f0;
  /* box-shadow: 2px 2px 5px black; */
  background-color: rgba(44, 93, 99, 1);
}

.btn-container button:hover {
  background-color: rgba(44, 93, 99, 0.8);
}

/* .btn-container .load-btn {
  background-color: rgba(0, 124, 185, 1);
}

.btn-container .load-btn:hover {
  background-color: rgba(0, 124, 185, 0.8);
}

.btn-container .delete-btn {
  background-color: rgba(192, 41, 66, 1);
}

.btn-container .delete-btn:hover {
  background-color: rgba(192, 41, 66, 0.8);
}

.btn-container .add-btn {
  background-color: rgba(0, 132, 33, 1);
}

.btn-container .add-btn:hover {
  background-color: rgba(0, 132, 33, 0.8);
} */


table {
  width: 80vw;
  margin: auto;
  margin-top: 30vh;
  border-collapse: collapse;
}

table > tr {
  border: 1px solid #283739;
}

table tr {
  width: 80vw;
}


table th:not(:last-child) {
  border-right: 1px #e0e0e0 solid;
}

table .table-content td:not(:last-child) {
  border-right: 1px #283739 solid;
}

table .table-content tr:not(:last-child) {
  border-bottom: 1px #283739 solid;
}

table .table-heading th,
table .table-content td {
  padding: 10px;
}

table th {
  background-color: #283739;
  color: #e0e0e0;
  position: sticky;
  top: 30vh;
}

.table-content {
  height: 55vh;
  max-height: 55vh;
  overflow: auto;
}

.table-content .no-data-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2em;
  margin: auto;
}

.no-data-msg span {
  font-weight: 600;
  cursor: pointer;
}

.table-content ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.table-content li a {
  color: #283739;
}

.m1 {
  width: 8.33%;
}

.m15 {
  width: 12.5%;
}

.m2 {
  width: 16.66%;
}

.m3 {
  width: 24.99%;
}

.m4 {
  width: 33.33%;
}